---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=c727931a85774488a1900656242004&q=Atlanta,GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999985'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 17:26:31
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0b19c423a67e79cb117fb8cf1e1b8b3c
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Atlanta","region":"Georgia","country":"United
        States of America","lat":33.75,"lon":-84.39,"tz_id":"America/New_York","localtime_epoch":1713806669,"localtime":"2024-04-22
        13:24"},"current":{"last_updated_epoch":1713806100,"last_updated":"2024-04-22
        13:15","temp_c":16.1,"temp_f":61.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":360,"wind_dir":"N","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.0,"precip_in":0.0,"humidity":42,"cloud":50,"feelslike_c":16.1,"feelslike_f":61.0,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":11.4,"gust_kph":18.4},"forecast":{"forecastday":[{"date":"2024-04-22","date_epoch":1713744000,"day":{"maxtemp_c":19.9,"maxtemp_f":67.8,"mintemp_c":7.5,"mintemp_f":45.5,"avgtemp_c":13.6,"avgtemp_f":56.6,"maxwind_mph":11.4,"maxwind_kph":18.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":44,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":5.0},"astro":{"sunrise":"06:58
        AM","sunset":"08:14 PM","moonrise":"07:17 PM","moonset":"06:13 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":96,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1713758400,"time":"2024-04-22
        00:00","temp_c":10.8,"temp_f":51.5,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.4,"wind_kph":18.4,"wind_degree":337,"wind_dir":"NNW","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":51,"cloud":26,"feelslike_c":8.7,"feelslike_f":47.7,"windchill_c":8.7,"windchill_f":47.7,"heatindex_c":10.8,"heatindex_f":51.5,"dewpoint_c":1.1,"dewpoint_f":34.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":16.4,"gust_kph":26.5,"uv":1.0},{"time_epoch":1713762000,"time":"2024-04-22
        01:00","temp_c":10.5,"temp_f":50.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":338,"wind_dir":"NNW","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":53,"cloud":6,"feelslike_c":8.4,"feelslike_f":47.1,"windchill_c"[...]
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=Atlanta,GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.520 TT 0 0.629"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 3118,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL13693920W",
                    "type": "work",
                    "seed": [
                        "/books/OL22850068M",
                        "/works/OL13693920W",
                        "/authors/OL6548119A"
                    ],
                    "title": "Atlanta [Ga.]",
                    "title_suggest": "Atlanta [Ga.]",
                    "title_sort": "Atlanta [Ga.]",
                    "edition_count": 1,
                    "edition_key": [
                        "OL22850068M"
                    ],
                    "publish_date": [
                        "1888"
                    ],
                    "publish_year": [
                        1888
                    ],
                    "first_publish_year": 1888,
                    "lccn": [
                        "01007686"
                    ],
                    "publish_place": [
                        "Philadelphia"
                    ],
                    "lcc": [
                        "F--0294.00000000.A8 G7"
                    ],
                    "last_modified_i": 1597276789,
                    "ebook_count_i": 1,
                    "ebook_access": "public",
                    "has_fulltext": true,
                    "public_scan_b": true,
                    "ia": [
                        "atlantaga00gree"
                    ],
                    "ia_collection": [
                        "americana",
                        "library_of_congress"
                    ],
                    "ia_collection_s": "americana;library_of_congress",
                    "lending_edition_s": "OL22850068M",
                    "lending_identifier_s": "atlantaga00gree",
                    "cover_edition_key": "OL22850068M",
                    "cover_i": 7172244,
                    "publisher": [
                        "J. B. Lippincott co."
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL6548119A"
                    ],
                    "author_name": [
                        "Charles Warren Greene"
                    ],
                    "publisher_facet": [
                        "J. B. Lippincott co."
                    ],
                    "_version_": 1767897003709169667,
                    "lcc_sort": "F--0294.00000000.A8 G7",
                    "author_facet": [
                        "OL6548119A Charles Warren Greene"
                    ]
                },
                {
                    "key": "/works/OL8290284W",
                    "type": "work",
                    "seed": [
                        "/books/OL8227458M",
                        "/works/OL8290284W",
                        "/authors/OL2754912A"
                    ],
                    "title": "Atlanta, Ga",
                    "title_suggest": "Atlanta, Ga",
                    "title_sort": "Atlanta, Ga",
                    "edition_count": 1,
                    "edition_key": [
                        "OL8227458M"
                    ],
                    "publish_date": [
                        "December 2003"
                    ],
                    "publish_year": [
                        2003
                    ],
                    "first_publish_year": 2003,
                    "isbn": [
                        "9780841624801",
                        "0841624801"
                    ],
                    "last_modified_i": 1341770490,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL8227458M",
                    "cover_i": 1589712,
                    "publisher": [
                        "Langenscheidt P[...]
