---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<Authorization>&q=40.7128,%20-74.0060
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 15:13:15
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 543cb8ea3480af12b93688cae341a548
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"New York","region":"New York","country":"United
        States of America","lat":40.71,"lon":-74.01,"tz_id":"America/New_York","localtime_epoch":1713885201,"localtime":"2024-04-23
        11:13"},"current":{"last_updated_epoch":1713884400,"last_updated":"2024-04-23
        11:00","temp_c":13.3,"temp_f":55.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":180,"wind_dir":"S","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"humidity":37,"cloud":25,"feelslike_c":12.2,"feelslike_f":54.0,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":9.0,"gust_kph":14.5},"forecast":{"forecastday":[{"date":"2024-04-23","date_epoch":1713830400,"day":{"maxtemp_c":14.7,"maxtemp_f":58.4,"mintemp_c":8.2,"mintemp_f":46.8,"avgtemp_c":11.3,"avgtemp_f":52.4,"maxwind_mph":17.0,"maxwind_kph":27.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":48,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{"sunrise":"06:05
        AM","sunset":"07:45 PM","moonrise":"07:44 PM","moonset":"05:47 AM","moon_phase":"Full
        Moon","moon_illumination":99,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713844800,"time":"2024-04-23
        00:00","temp_c":10.1,"temp_f":50.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":214,"wind_dir":"SW","pressure_mb":1020.0,"pressure_in":30.13,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":51,"cloud":6,"feelslike_c":9.2,"feelslike_f":48.5,"windchill_c":9.2,"windchill_f":48.5,"heatindex_c":10.1,"heatindex_f":50.3,"dewpoint_c":0.4,"dewpoint_f":32.7,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.7,"gust_kph":10.8,"uv":1.0},{"time_epoch":1713848400,"time":"2024-04-23
        01:00","temp_c":9.8,"temp_f":49.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":199,"wind_dir":"SSW","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":52,"cloud":3,"feelslike_c":8.9,"feelslike_f":48.0,"windchill_c":8.9[...]
