---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<Authorization>&q=40.7128,%20-74.0060
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999970'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 19:29:40
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ddf5e3557d9c84071b819dead19d8679
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"New York","region":"New York","country":"United
        States of America","lat":40.71,"lon":-74.01,"tz_id":"America/New_York","localtime_epoch":1713814058,"localtime":"2024-04-22
        15:27"},"current":{"last_updated_epoch":1713813300,"last_updated":"2024-04-22
        15:15","temp_c":14.4,"temp_f":57.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"humidity":26,"cloud":25,"feelslike_c":13.7,"feelslike_f":56.7,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":8.0,"gust_kph":12.9},"forecast":{"forecastday":[{"date":"2024-04-22","date_epoch":1713744000,"day":{"maxtemp_c":15.1,"maxtemp_f":59.2,"mintemp_c":5.5,"mintemp_f":41.9,"avgtemp_c":10.1,"avgtemp_f":50.2,"maxwind_mph":11.4,"maxwind_kph":18.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":40,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{"sunrise":"06:06
        AM","sunset":"07:44 PM","moonrise":"06:41 PM","moonset":"05:27 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":96,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713758400,"time":"2024-04-22
        00:00","temp_c":8.4,"temp_f":47.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":336,"wind_dir":"NNW","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":47,"cloud":3,"feelslike_c":5.9,"feelslike_f":42.6,"windchill_c":5.9,"windchill_f":42.6,"heatindex_c":8.4,"heatindex_f":47.1,"dewpoint_c":-2.4,"dewpoint_f":27.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":13.6,"gust_kph":21.9,"uv":1.0},{"time_epoch":1713762000,"time":"2024-04-22
        01:00","temp_c":7.8,"temp_f":46.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.3,"wind_kph":16.6,"wind_degree":330,"wind_dir":"NNW","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":46,"cloud":18,"feelslike_c":5.0,"feelslike_f":41.0,"windchill_c"[...]
