---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=c727931a85774488a1900656242004&q=40.7128,%20-74.0060
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999991'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 00:14:17
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 67e03621b1a9e17503d6113428bb8227
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"New York","region":"New York","country":"United
        States of America","lat":40.71,"lon":-74.01,"tz_id":"America/New_York","localtime_epoch":1713744736,"localtime":"2024-04-21
        20:12"},"current":{"last_updated_epoch":1713744000,"last_updated":"2024-04-21
        20:00","temp_c":10.0,"temp_f":50.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":310,"wind_dir":"NW","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":0,"feelslike_c":7.9,"feelslike_f":46.2,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":12.9,"gust_kph":20.7},"forecast":{"forecastday":[{"date":"2024-04-21","date_epoch":1713657600,"day":{"maxtemp_c":12.1,"maxtemp_f":53.7,"mintemp_c":6.5,"mintemp_f":43.6,"avgtemp_c":9.3,"avgtemp_f":48.7,"maxwind_mph":14.3,"maxwind_kph":23.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":41,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":5.0},"astro":{"sunrise":"06:07
        AM","sunset":"07:43 PM","moonrise":"05:40 PM","moonset":"05:08 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":92,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713672000,"time":"2024-04-21
        00:00","temp_c":9.0,"temp_f":48.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":14.3,"wind_kph":23.0,"wind_degree":351,"wind_dir":"N","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":48,"cloud":0,"feelslike_c":5.8,"feelslike_f":42.5,"windchill_c":5.8,"windchill_f":42.5,"heatindex_c":9.0,"heatindex_f":48.2,"dewpoint_c":-1.6,"dewpoint_f":29.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":18.2,"gust_kph":29.3,"uv":1.0},{"time_epoch":1713675600,"time":"2024-04-21
        01:00","temp_c":8.1,"temp_f":46.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":348,"wind_dir":"NNW","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":46,"cloud":1,"feelslike_c":4.8,"feelslike_f":40.7,"windchill_c":[...]
