---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.653 TT 0 0.967"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 14073,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_alternative_name": [
                        "Andrews, V C Andrews",
                        "V C Andrews",
                        "Andrews Virginia C.",
                        "V Andrews",
                        "V.C. Andrews",
                        "VIRGINIA C. ANDREWS",
                        "Andrew Neiderman",
                        "v. c. andrews",
                        "Virginia Andrew",
                        "Andrews Virginia",
                        "Virginia C. Andrews TM",
                        "Andrews, Virginia The New",
                        "Virginia C. (Virginia Cleo) Andrews",
                        "Virginia Andrews",
                        "V. Andrews",
                        "V. C Andrews",
                        "ANDREWS,VIRGINIA C.",
                        "virginia andrews",
                        "Virginia C.(Virginia Cleo) Andrews",
                        "andrews virginia c.",
                        "VIRGINIA ANDREWS",
                        "V.c. Andrews",
                        "Virginia C. Andrews",
                        "Andrews VC",
                        "V.C.Andrews",
                        "Cleo Virginia Andrews",
                        "V. C. ANDREWS",
                        "The New Virginia Andrews",
                        "Virginia Cleo Andrews",
                        "virginia-andrews"
                    ],
                    "author_key": [
                        "OL22019A"
                    ],
                    "author_name": [
                        "V. C. Andrews"
                    ],
                    "contributor": [
                        "Loon, Parma van",
                        "Bol\u02b9shelapova, E., translator",
                        "Marta Perez Sanchez (Translator)"
                    ],
                    "cover_edition_key": "OL1181150M",
                    "cover_i": 9358681,
                    "ddc": [
                        "[Fic]",
                        "813.54"
                    ],
                    "ebook_access": "printdisabled",
                    "ebook_count_i": 15,
                    "edition_count": 33,
                    "edition_key": [
                        "OL50985841M",
                        "OL46856741M",
                        "OL49216886M",
                        "OL45846081M",
                        "OL37166267M",
                        "OL35678389M",
                        "OL33984795M",
                        "OL33028327M",
                        "OL28769290M",
                        "OL29872726M",
                        "OL11075154M",
                        "OL9035325M",
                        "OL28241503M",
                        "OL12514658M",
                        "OL27974589M",
                        "OL8101951M",
                        "OL11072742M",
                        "OL7664387M",
                        "OL7950746M",
                        "OL9768482M",
                        "OL12710630M",
                        "OL26341759M",
                        "OL27233159M",
                        "OL26295905M",
                        "OL9469862M",
                        "OL22380793M",
                        "OL19106352M",
                        "OL22923416M",
                        "OL1084337M",
                        "OL1181150M",
                        "OL18369979M",
                        "OL24951330M",
                        "OL22185066M"
                    ],
                    "first_publish_year": 1900,
                    "first_sentence": [
                        "A loud and desperate rapping on our screen door echoed through the house and drew both my and Grandmere Catherine's attention from our work."
                    ],
                    "has_fulltext": true,
                    "ia": [
                        "rubylandry0000vcan",
                        "bwb_KH-876-470",
                        "rubylafamillelan0000unse",
                        "ruby1vertparmava0000unse",
                        "ruby0000andr_s9g5",
                        "isbn_9780671718879",
                        "ruby0000andr_t9c3",
                        "ruby0000andr_b8l3",
                        "rubyandr00andr",
                        "rubylandrylosjet00vcan",
                        "isbn_9785702009384",
                        "isbn_9788371800740",
                        "ruby00andr_0",
                        "ruby00andr",
                        "ruby0000andr"
                    ],
                    "ia_collection": [
                        "americana",
                        "delawarecountydistrictlibrary",
                        "internetarchivebooks",
                        "openlibrary-d-ol",
                        "printdisabled"
                    ],
                    "ia_collection_s": "americana;delawarecountydistrictlibrary;internetarchivebooks;openlibrary-d-ol;printdisabled",
                    "isbn": [
                        "1471133915",
                        "9788371800740",
                        "9781847391728",
                        "9781568950747",
                        "2744109541",
                        "9780671759353",
                        "8401497957",
                        "0671759353",
                        "9781501162244",
                        "0671512811",
                        "9780671718428",
                        "9783442442911",
                    [...]
